<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>logout</title>
</head>
<body>
    {% if request.user.is_authenticated %}
    <form method="post" action="{% url 'user:logout' %}" style="display: inline;">
        {% csrf_token %}
        <button type="submit" class="btn btn-link dropdown-item">Logout</button>
      </form>
     {% else %}
      <a href="{% url 'users:login' %}">Login</a>
      {% endif %}
</body>
</html>